<div class="main">
  <div class="container">
    <div class="row justify-content-center main_block">
      <div class="col-xs-8 col-sm-10 center-container pl-4 pr-4 ">
        <div class="icons-container">
          <ul class="list-inline">
            <li class="list-inline-item" (click)="authWithGoogle()"><i
                class="fa fa-google-plus-square fa-2x google-plus-style" aria-hidden="true"></i></li>
          </ul>
        </div>
        <div class="text-center mt-3 login">
          <h1>Log in</h1>
          <p class="text-uppercase mt-4">Weather <a class="text-warning a-hovered" [routerLink]="['/sign-up']" routerLinkActive="router-link-active" >Sign up for free</a>
          </p>
        </div>
        <form #loginModule="ngForm" (ngSubmit)="loginWithEmail()">
          <div class="form-group">
            <label for="exampleInputEmail" class="col-form-lable-lg">Email</label>
            <div class="input-group group-with-icon">
              <input type="text" class="form-control form-control-lg inputCustom" id="exampleInputEmail
              " aria-describedby="emailHelp" placeholder="Enter email" name="email" [(ngModel)]="userDetail.email">
              <label for="exampleInputEmail"><i class="fa fa-user fa-lg" aria-hidden="true"></i></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label-lg" for="exampleInputPassword1">Password</label>
            <div class="input-group group-with-icon">
              <input type="password" class="form-control form-control-lg inputCustom" id="exampleInputPassword1"
                placeholder="Password" name="password" [(ngModel)]="userDetail.password">
              <label for="exampleInputPassword1"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="rememberCheckBox">
              <label for="rememberCheckBox" class="form-check-label">Remember me?</label>
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-success button-custom-style font-weigth-bold">Log in</button>
          </div>
        </form>
        <div class="text-center mb-3">
          <p><a class="text-uppercase text-warning a-hovered">Forgot your password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
